body{
    background: linear-gradient(rgb(24, 24, 24), 30% , rgb(128, 23, 23));
    position: relative;
    min-height: 100vh;
    /*padding-bottom: 550px;*/
}

#nav-buscar{
    
    border: 2px solid rgba(255, 14, 14, 0.815);
    color: white;
}

#nav-buscar:hover{
    background-color: red;
    box-shadow: 0 0 15px rgba(255, 255, 255, .8);
}

.Notificacion-modal{
    background-color: aqua;
}

#perfil{
    background: linear-gradient(rgb(35, 35, 150), 70%, rgb(52, 52, 52));
    padding-bottom: 50px;
    transform: translateY(10%);
    color: white;
    padding: 40px;
    height: max-content;
    
    
}

.productos{
    border: 3px solid black;
    box-shadow: 0 0 15px white;
    height: 550px;
    overflow-y: scroll;
}
.user img{
    max-width: 90%;
    max-height: 900px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 15px rgba(255, 255, 255, .8);
    
}

.cards-wrapper{
    display: flex;
    color: black;
}

.cont-producto{
    background-color: whitesmoke;
    border: 3px solid black;
    box-shadow: 0 0 15px rgba(255, 255, 255, .8);
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    transform: scale(0.98);
}

.cont-producto:hover{
    transform: scale(1);
}

.pago h1{
    transform: translateY(-30px);
}

.text{
    width: 275%;
}

.img-carrito{
    width: 12rem;
}

#Compra{
    transform: translateX(3%);
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    
    
}

.btn-pagar{
    border-radius: 12px;
    width: 50%;
    transform: scale(0.95);
}

.btn-pagar:hover{
    background-color: rgb(255, 123, 0);
    transform: scale(1.08);
}

#listass{
    height: 600px;
    padding-top: 20px;
    padding-right: 10px;
    

}

.btn-carrito{
    border-radius: 12px;
    width: 22%;
    margin-right: 15px;
    transform: scale(0.95);
    
}

.btn-carrito:hover{
    background-color: rgb(255, 123, 0);
    color: white;
    transform: scale(1.08);
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(27, 27, 27);
    height: auto;
    max-width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #8a8787;
    
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #8a8787;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
    box-shadow: 0 0 15px rgba(57, 248, 255, 0.904);
}

.footer-bottom{
    background: rgb(17, 17, 17);
    max-width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}