@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    font-family: "Merriweather", system-ui;
}
body{
    background: rgb(142,223,158);
    background: radial-gradient(circle, rgba(142,223,158,1) 0%, rgba(153,235,200,1) 47%, rgba(223,242,175,1) 71%, rgba(239,240,134,1) 100%);    position: relative;
    min-height: 100vh;

}

#cont-curso{
    background-color: #f5ffd8;
    border: none;
    color: rgb(0, 0, 0);

    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 49px 10px rgba(122,122,16,1);
    -moz-box-shadow: 0px 0px 49px 10px rgba(122,122,16,1);
    box-shadow: 0px 0px 49px 10px rgba(122,122,16,1);
    margin: 0 auto;
    margin-top: 80px;
    width: 50%;
}

.input-curso{
    width: 90%;
    border-radius: 3px;
    border: none;
    transition: .3s ease-in-out;
}
.input-curso:hover{
    width: 100%;
    border-radius: 3px;
    border: 2px solid rgb(128, 128, 73);
}


.img-curso{
    margin: 20px;
}

#form-curso{
    padding: 20px 10px 20px 10px;
    width: 100%;
    text-align: center;
}

#btn-curso{
    width: 90%;
    border-radius: 3px;
    margin-top: 20px;
    background-color: rgb(255, 182, 155);
    transition: .3s ease-in-out;
}

#btn-curso:hover{
    transform: scale(1.05);
    background-color: rgb(213, 115, 79);
}

#carouselExample{
    max-width: auto;
    max-height: auto;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(27, 27, 27);
    height: auto;
    max-width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #8a8787;
    
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: .2rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .1rem 0 .5rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #8a8787;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
    box-shadow: 0 0 15px rgba(57, 248, 255, 0.904);
}

.footer-bottom{
    background: rgb(17, 17, 17);
    max-width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}