@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    font-family: "Merriweather", system-ui;
}
body{
    min-height: 100vh;
    display: flex;
    background: rgb(172,229,230);
    background: linear-gradient(0deg, rgba(172,229,230,1) 0%, rgba(255,255,255,1) 100%);
}
.container{
    margin: 0 auto;
}
.Main-form{ 
    text-align: center;
    position: center;
    border: 2px solid rgba(40, 61, 61, 0.2);
    background-color: rgb(143, 220, 214) ;
    backdrop-filter: blur(1000px);
    width: 100%;
    border-radius: 2px;
    padding: 20px;
    color: black;
    margin: 0 auto;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(42,100,120,1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(42,100,120,1);
    box-shadow: 0px 0px 18px 0px rgba(42,100,120,1);
}

.campo{
    display: flex;
}
.campo h2{
    width: 50%;
    text-align: right;
}
.campo input{
    left: 0;
    width: 40%;
    padding-right: 0;
    height: 30px;
    margin-left: 30px;
    border-radius: 2px;
    border: none;
}
.campo select{
    left: 0;
    width: 40%;
    padding-right: 0;
    height: 30px;
    margin-left: 30px;
}
#foto{
    width: 45%;
}

#Registro{
    backdrop-filter: blur(2000px);
    color: white;
    height: min-content;
    padding: 40px 10px 40px 50px;
    margin: 0 auto;
    margin-top: 90px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(42,100,120,1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(42,100,120,1);
    box-shadow: 0px 0px 18px 0px rgba(42,100,120,1);
}

#uno{
    
    width: 60%;
    
    
}

#dos{
    
    width: 30%;
    
}

#imgP{
    max-width: 120%;
    max-height: 700px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
}

.input-error {
    border-color: red;
    margin-bottom: 10px;
}
button{
    color: #ffffff;
    cursor: pointer;  
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0px 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(72, 180, 165, 0);
    outline: 1px solid;
    outline-color: rgba(119, 193, 228, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
    background-color: #2b4a46;
    border-radius: 3px;
}
button:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(124, 222, 193, 0.895), 0 0 20px rgba(61, 187, 170, 0.966);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}
h2{
    border-right: 2px solid #2b4a46;
    height: 100%;
    padding-right: 10px ;
}
h2:nth-child(8){
    border-right: none;
}
.backArrow{
    background-color: #427388;
    width: min-content;
    padding: 20px 10px 20px 10px;
    border-radius: 200px;
    transition: .3s ease-in-out;
    position: absolute;
    z-index: 30;
    transform: translateY(10px);
    transform: translateX(-15px);
    text-decoration: none;
}
.backArrow:hover{
    background-color: #1b2224;
    width: min-content;
    padding: 20px 30px 20px 30px;
    border-radius: 200px;
}
.backArrow:link,:visited{
    color: white;
}