@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    font-family: "Merriweather", system-ui;
}
body{
    
    background: rgb(142,223,158);
    background: radial-gradient(circle, rgba(142,223,158,1) 0%, rgba(153,235,200,1) 47%, rgba(223,242,175,1) 71%, rgba(239,240,134,1) 100%);    position: relative;
    min-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;

}

.card-reporte{
    display:  flex;
}

.dato{
    width: 18%;
}


#contenedor{
    transform: translateY(100px);
}

.cont-reporte{
    background-color: rgb(229, 244, 174);
    justify-content: center;
    padding: 30px 40px 30px 40px;
    border-radius: 10PX;
    -webkit-box-shadow: 0px 0px 49px 10px rgba(122,122,16,1);
    -moz-box-shadow: 0px 0px 49px 10px rgba(122,122,16,1);
    box-shadow: 0px 0px 49px 10px rgba(122,122,16,1);
}
.reporte-body{
    text-align: center;
}
table{
    width: 100%;
    border: 2px solid black;
    background-color: rgb(214, 255, 241);
    border-radius: 10PX;
    margin-top: 10PX;
}

#tabla td{
    border: 2px solid black;   
}

#name{
    border: 2px solid black;   
}

#date{
    border: 2px solid black;   
}

#course{
    border: 2px solid black;   
}

#var{
    border: 2px solid black;   
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #54d06d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #043e07;
  }