@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    font-family: "Merriweather", system-ui;
}
body{
    background: rgb(142,223,158);
    background: radial-gradient(circle, rgba(142,223,158,1) 0%, rgba(153,235,200,1) 47%, rgba(223,242,175,1) 71%, rgba(239,240,134,1) 100%);    position: relative;
    min-height: 100vh;
    padding-bottom: 350px;
}

#img-nav{
    width: 30px;
    height: 40px;
    margin-right: 10px;
}

#nav-buscar{
    
    border: 2px solid rgba(53, 255, 12, 0.815);
    color: white;
}

#nav-buscar:hover{
    background-color: rgb(19, 207, 41);
    box-shadow: 0 0 15px rgba(255, 255, 255, .8);
}

#resultados{
    background: linear-gradient(rgb(179, 240, 167), rgb(99, 168, 189));
    margin-top: 4%;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 32px 17px rgba(58,224,213,1);
-moz-box-shadow: 0px 0px 32px 17px rgba(58,224,213,1);
box-shadow: 0px 0px 32px 17px rgba(58,224,213,1);
    padding: 40px 30px 40px 30px;
}

#filtros{
    border: 2px solid rgb(113, 240, 149);
    text-align: center;
    background-color: #a9c3aa;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 32px 17px rgba(58,224,213,1);
-moz-box-shadow: 0px 0px 32px 17px rgba(58,224,213,1);
box-shadow: 0px 0px 32px 1px rgb(28, 106, 101);
}

#desplegar-categoria{
    background-color: rgb(136, 156, 243);
    width: 100%;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

#cambia-cont{
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-filtro{
    background-color: rgb(117, 232, 75);
    width: 70%;
    border-radius: 13px;
    margin-top: 8px;
    margin-bottom: 8px;

}

.button-filtro:hover{
    background-color: rgba(93, 232, 181, 0.863);
    box-shadow: 0 0 15px rgba(255, 255, 255, .8);
    transform: scale(1.1);
}


.filtro-indicador{
    display: flex;
    background-color: rgb(232, 160, 160);
    border-radius: 10px;
    width: 70%;
    color: black;
    margin: 10px;
    border: 1px solid black;
}

.filtro-indicador-p{
    width: 90%;
    
}

.filtro-indicador p{
    text-align: center;
    align-items: center;
    
}

.filtro-delete{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid transparent;
}
.filtro-delete:hover{
    background-color: rgba(168, 168, 168, 0.651);
}

#filtros a{
    outline: none;
    text-decoration: none;
}

#paginacion-elem{
    background: linear-gradient(rgb(23, 201, 35), rgb(13, 90, 104));
    color: rgb(255, 255, 255);
}

.card{
    margin: 8px;
}

li{
    list-style: none;
}

#paginacion{
    margin-top: 40px;
    
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(27, 27, 27);
    height: auto;
    max-width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #8a8787;
    
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #8a8787;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: rgb(17, 17, 17);
    max-width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #54d06d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #043e07;
  }